<p><a routerLink="/team-selection" routerLinkActive="active">back to team selection page</a></p>
<h2>Group Stage</h2>

<div class="button-container">
    <button (click)="onSimulateAllMatches()">Simulate Every Match</button>
    <div class="toggle-buttons">
        <button class="show-matches-btn" [class.active]="showMatches" (click)="onToggleMatches()">
            Matches
        </button>
        <button class="group-standings-btn" [class.active]="showGroupStandings" (click)="onToggleStandings()">
            Group Standings
        </button>
    </div>
</div>
