<div class="mode-section">
  <!-- Mode Header Component -->
  <app-mode-header 
    [mode]="mode" 
    [currentMode]="currentMode">
  </app-mode-header>
  
  <div class="mode-details">
    <!-- Mode Description Component -->
    <app-mode-description-info [description]="mode.description"></app-mode-description-info>
    
    <!-- Technical Info Component -->
    <app-technical-info [technicalPoints]="mode.technicalPoints"></app-technical-info>
    
    <!-- Example Section Component -->
    <app-example-section [example]="mode.example"></app-example-section>
    
    <!-- Pros Cons Component -->
    <app-pros-cons [pros]="mode.pros" [cons]="mode.cons"></app-pros-cons>
  </div>
</div>
