<div class="simulate-round-button-list">
    <button class="simulate-btn" 
            (click)="onRunAllMatches()" 
            [disabled]="!canSimulateAllMatches"
            [class.completed]="allMatchesSimulated">
        {{ allMatchesSimulated ? 'All Matches Simulated' : 'Simulate All Matches' }}
    </button>
    <button class="simulate-round-button" 
            (click)="onRunFinal()" 
            [disabled]="!canSimulateFinal"
            [class.completed]="finalSimulated">
        {{ finalSimulated ? 'Final Simulated' : (!areAllSemiFinalMatchesPlayed ? 'Complete Semi-Finals First' : (!isThirdPlaceMatchPlayed ? 'Play 3rd Place Match First' : 'Simulate Final')) }}
    </button>
    <button class="simulate-round-button" 
            (click)="onRunSemiFinals()" 
            [disabled]="!canSimulateSemiFinals"
            [class.completed]="semiFinalsSimulated">
        {{ semiFinalsSimulated ? 'Semi-Finals Simulated' : (!areAllQuarterFinalMatchesPlayed ? 'Complete Quarter-Finals First' : 'Simulate Semi-Finals') }}
    </button>
    <button class="simulate-round-button" 
            (click)="onRunThirdPlace()" 
            [disabled]="!canSimulateThirdPlace"
            [class.completed]="thirdPlaceSimulated">
        {{ thirdPlaceSimulated ? '3rd Place Simulated' : (!areAllSemiFinalMatchesPlayed ? 'Complete Semi-Finals First' : 'Simulate 3rd Place') }}
    </button>
    <button class="simulate-round-button" 
            (click)="onRunQuarterFinals()" 
            [disabled]="!canSimulateQuarterFinals"
            [class.completed]="quarterFinalsSimulated">
        {{ quarterFinalsSimulated ? 'Quarter-Finals Simulated' : (!areAllRoundOf16MatchesPlayed ? 'Complete Round of 16 First' : 'Simulate Quarter-Finals') }}
    </button>
    <button class="simulate-round-button" 
            (click)="onRunAllRoundOf16()" 
            [disabled]="!canSimulateRoundOf16"
            [class.completed]="roundOf16Simulated">
        {{ roundOf16Simulated ? 'Round of 16 Simulated' : 'Simulate All Round of 16' }}
    </button>
</div>
