<div class="top-four-standings">
  <h2>Final Standings</h2>
  <div class="podium">
    <!-- 2nd Place -->
    <app-podium-position 
      [team]="topFour[1]" 
      [position]="2">
    </app-podium-position>
    
    <!-- 1st Place (Champion) -->
    <app-podium-position 
      [team]="topFour[0]" 
      [position]="1">
    </app-podium-position>
    
    <!-- 3rd Place -->
    <app-podium-position 
      [team]="topFour[2]" 
      [position]="3">
    </app-podium-position>
  </div>
  
  <!-- 4th Place -->
  <div class="fourth-place-section" *ngIf="topFour[3]">
    <app-position-info 
      [team]="topFour[3]" 
      [position]="4">
    </app-position-info>
  </div>
</div>
